:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
}

[data-theme='dark'] {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

html.dark {
  background-color: #0d0d18;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  /* max-width: 80ch; */
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

main {
  margin: auto;
  /* padding: 1.5rem; */
  /* max-width: 60ch; */
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 2px;
  margin-bottom: 10px;
  background-color: black;
}

.nav-links {
  width: 100%;
  /* top: 5rem; */
  /* left: 48px; */
  background-color: transparent;
  display: none;
  margin: 0;
}

.nav-links a {
  display: flex;
  justify-content: center;
  align-self: center;
  /* text-align: center; */
  /* padding: 10px 0; */
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    /* margin-left: 5em; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: static;
    width: 100%;
    background: none;
  }

  .nav-links a {
    display: inline-flex;
    flex-direction: row;
    margin-right: 15px;
    /* padding: 15px 20px; */
  }

  .hamburger {
    display: none;
  }
}
