---
import MainLayout from '../layouts/MainLayout.astro';
// import Header from '../components/Header.astro';
// import DashboardCards from '../components/Dashbaord';
---

<MainLayout title='Dashboard'>
  <!-- <DashboardCards client:load /> -->
  <!-- <h1>You're Authenticated!</h1> -->
</MainLayout>
