---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
---

<MainLayout title='Dashboard'>
  <!-- <Header /> -->
  <h1>You're Authenticated!</h1>
</MainLayout>
