---
// import PassageAuth from '../components/PassageAuth.astro';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title='Home'>
  <!-- <PassageAuth /> -->
  <p>Welcome to the Home Page</p>
</MainLayout>
