---
// import Social from '../components/Social.astro';
---

<footer>
  <!-- <p>Im a footer</p> -->
  <!-- <Social platform='twitter' username='@Dev_Bread' /> -->
  <!-- <Social platform='github' username='bisrad' /> -->
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
