---
---

<footer class='bg-gray-700 py-4 text-center sticky bottom-0'>
  <small class='text-gray-100'>
    &copy; <span id='b'>{new Date().getFullYear()}</span> | All rights reserved
  </small>
</footer>

<script>
  const currentYear = new Date().getFullYear();
  const copyrightElement = document.querySelector('#copyright');
  if (copyrightElement) {
    copyrightElement.textContent = currentYear.toString();
  }
</script>
