---
interface Props {
  text: string;
  href: string;
  classes?: string;
}

const { text, href, ...rest } = Astro.props as Props;
---

<a
  href={href}
  class='flex mr-4 justify-around text-gray-100 hover:text-gray-300 hover:underline hover:underline-offset-4'
  {...rest}
>
  <span class='flex-initial'>{text}</span>
</a>
