---
// component imports
import Link from './Link.astro';

// data imports
import navData from '../data/NavData';
import logo from '/src/assets/svg/logo-desktop.svg';
---

<div class='flex justify-between p-4 navbar'>
  <a href='/' class='flex items-center' aria-label='Go home'>
    <img width='auto' src={logo} />
  </a>
  <div class='md:hidden'>
    <button
      class='text-gray-100 focus:outline-none focus:text-gray-600'
      id='menuToggle'
    >
      <svg
        class='w-8 h-8'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
      >
        <path
          id='menuIcon'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M4 6h16M4 12h16M4 18h16'></path>
      </svg>
    </button>
  </div>
  <ul id='navLinks' class='hidden md:flex md:items-center'>
    {
      navData.map((item: { name: string; path: string }) => (
        <Link text={item.name} href={item.path} />
      ))
    }
  </ul>
</div>

<script>
  import '../scripts/nav.js';
</script>
